.wrap{
    width: 100%;
    background: #F5F9FA;
}
.detail{
    width: 96%;
    margin: .75rem auto 1.125rem auto;
    background: white;
    padding: 1.3125rem .625rem 1.625rem .625rem;
    box-sizing: border-box;
}
.detail h3{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.875rem;
    color: #094067;
}
.detail p{
    font-size: 1rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 2.125rem;
    color: #094067;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid #D4DBDD;
}
.detail .border{
    width: 98%;
    margin: 2.3125rem auto 1.25rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #D6DBDF;
}
.detail .border img{
    height: 90%;
}
.detail .page{
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .detail .page .backpage,.detail .page .nextpage{
    display: flex;
    align-items: center;
 }
 .detail .page .backpage img,.detail .page .nextpage img{
    width: 1.1875rem;
    height: 1.1875rem;
 }
 .detail .page .backpage span,.detail .page .nextpage span{
    font-size: .875rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 3.0625rem;
    color: #02B1CA;
    margin: 0 .625rem;
 }
 .more{
    width: 100%;
    height: 100%;
    padding: 0 .75rem;
    box-sizing: border-box;
 }
 .more .title{
    padding-left: .375rem;
    border-left: 4px solid #02B1CA;
    font-size: 1.125rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #094067;
 }
 .more .product_list{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 1.125rem 0 2.5625rem 0;
 }
 .more .product_list .list{
     margin-top: .75rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .more .product_list .list .border{
     width: 10.625rem;
     height: 10.625rem;
     border: 1px solid #D6DBDF;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     background: white;
 }
 .more .product_list .list .border img{
     height: 96%;
 }
 .more .product_list .list .btn_detail{
    width: 5.5rem;
    height: 1.75rem;
    background: #02B1CA;
    opacity: 1;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    line-height: 1.75rem;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
 }
 .more .product_list .list h3{
     margin: .5rem 0 1.0625rem 0;
     width: 10.625rem;
     height: 2.875rem;
    font-size: 1rem;
    font-family: Source Han Serif CN;
    font-weight: bold;
    line-height: 1.4375rem;
    color: #094067;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
 }
